order deny,allow
deny from all
allow from 127.0.0.1
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /kevin/test/pagipagi/index.php/$1 [L]